# Copia este archivo como .env para local
# En Railway configura estas variables en el panel de Variables

DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=floreriabd
DB_PORT=3306

JWT_SECRET=floreria_secret_2026
PORT=3000
